.container {
    margin-top: 15px;
}

.identite .panel {
    text-align: center;
}

.menu_rapide .panel {
    text-align: center;
    padding: 20px 0 20px 0;
    font-weight: bolder;
    font-family: Trebuchet MS, serif;
    font-size: 14px;
    color: #b62224;
}

.visualisation {
    font-size: 200%;
    text-align: center;
    float: right;
}

.menu_rapide {
    padding: 0;
}

.menu_rapide a {
    color: #b62224;
}

.visualisation {
    font-size: 200%;
    text-align: center;
    float: right;
}

.donnees table, tr, th {
    text-align: justify;
}

.icone a {
    text-decoration: none;
}

.visualisation a:hover {
    text-decoration: none;
}

.icone, .identite a {
    color: #b62224;
}

.modal-header, .donnees .panel-heading, .saisie_notes .panel-heading, .choix_cursus_eleves .panel-heading {
    color: white;
    background-color: #b62224;
    font-weight: bold;
    text-align: center;
}

.retour_prec_releve {
    color: white;
    float: left;
}

.retour_prec_histo{
    color:white;
    float:left;
}

.add_button_etudes {
    float: right;
    cursor: pointer;
    font-size: 100%;
}

.add_button_etudes i {
    color: white;
}

.bouton_simulateur_choix {
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    color: #b62224;
}