.container {
    margin: auto;
    margin-top: 10%;
}

.logo {
    width: 100%;
}  

.texte_logo {
    height: 100%;
    vertical-align: middle;
    font-family: Rockwell, serif;
    font-size: 25px;
    margin-left: 10%;
}
